<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="css/base.css"/>
    <link rel="stylesheet" type="text/css"  href="css/animation.css">
    <link rel="stylesheet" type="text/css" href="css/admin.css"/>
</head>
<body>
<div class="zhe"></div>
<div class="header">
    <div><span class="user BG_img">TMN</span><span class="sanjian"></span></div>
    <a href="index" class="a">登出</a>
</div>
<div class="content">
    <ul class="BG_img content_title ">
       <li class="title_li" src="user_list">用户列表</li>
       <li class="title_li" src="admin_list">管理员列表</li>
       <li class="title_li" src="repair_list">报修列表</li>
       <li class="title_li" src="lost_list">失物列表</li>
       <li class="title_li" src="marke_list">跳蚤市场</li>
       <li class="title_li" src="new_list">新闻列表</li>
       <li class="title_li title_log" src="log_list" style="display: none">日志</li>
    </ul>
    <iframe src="user_list" frameborder="0" class="iframe"></iframe>
</div>
<div class="footer">版权所有 @ 再无秋----TMN</div>
</body>
<script src="js/lib/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="js/lib/base.js" type="text/javascript" charset="utf-8"></script>
<script src="js/admin.js" type="text/javascript" charset="utf-8"></script>
</html>
