<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <link rel="stylesheet" type="text/css"  href="css/base.css">
    <link rel="stylesheet" type="text/css"  href="css/animation.css">
    <link rel="stylesheet" type="text/css"  href="css/index.css">

</head>
<body class="BG_img">
<a href="/Download" class="app">app下载</a>

<form action="" class="form">
    <input type="text" id="user" class="input_text" placeholder="请输入账号">
    <input type="password" id="pass" class="input_text" placeholder="请输入密码">
    <input type="button" id="btn" class="input_text input_btn" value="登录">

</form>
<div class="footer">版权所有 @ 再无秋----TMN</div>
</body>
<script src="js/lib/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="js/lib/base.js" type="text/javascript" charset="utf-8"></script>
<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
<!--<script type="text/javascript" charset="utf-8">-->
<!--    login()-->
<!--</script>-->
</html>